body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
}

.web-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.highlight {
  color: #000000;
}

.top-line-menu-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.top-line-menu-list-link:hover,
.top-line-menu-list-link:focus {
  color: #2196f3;
}

.top-line-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.top-line-menu-link:hover,
.top-line-menu-link:focus {
  color: #2196f3;
}

.header-bg-description {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.header-bg {
  background: #2f303a;
  align-items: center;
  text-align: center;
}

.header-bg-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}

.header-bg-btn:hover,
.header-bg-btn:focus {
  color: #fff;
  background-color: #2196f3;
}

.advantages-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.header-primary {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background: #f5f4fa;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-bg {
  background: #2f303a;
}

.footer-bg-location {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-bg-location:hover,
.footer-bg-location:hover {
  color: #2196f3;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}

.filters-btn {
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  color: #fff;
  background-color: #2196f3;
}

.projects-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list-category-name {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
